{:paths ["src"]

 :deps
 {org.clojure/clojure                         {:mvn/version "1.12.0"}
  org.scicloj/noj                             {:mvn/version "2-beta18"}
  markdown-clj/markdown-clj                   {:mvn/version "1.12.3"}
  org.clojure/core.async                      {:mvn/version "1.9.808-alpha1"}
  io.github.clojure/core.async.flow-monitor   {:git/tag "v0.1.1" :git/sha "61e8d31"}
  metosin/malli                               {:mvn/version "0.18.0"}
  clj-fuzzy/clj-fuzzy                         {:mvn/version "0.4.1"}
  org.scicloj/clay                            {:git/url "https://github.com/scicloj/clay"
                                               :git/sha "c049e839a496bd8b41faaa6993dae4da27d8220c"}
  org.eclipse.elk/org.eclipse.elk.core        {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph       {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.graph.json  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.common  {:mvn/version "0.10.0"}
  org.eclipse.elk/org.eclipse.elk.alg.layered {:mvn/version "0.10.0"}}

 :aliases
 ;; Build the site with `clojure -M:m`
 {:m     {:main-opts ["-m" "civitas.main"]}
  ;; Run Clay in watch mode with `clojure -J-Dclojure.main.report=stderr -M:clay`
  :clay  {:main-opts ["-m" "scicloj.clay.v2.main"]}
  ;; When debugging libraries
  :local {:override-deps {org.scicloj/clay          {:local/root "../clay"}
                          org.scicloj/kindly-advice {:local/root "../kindly-advice"}}}
  ;; $ clojure -T:build test
  ;; $ clojure -T:build ci
  :build {:deps       {io.github.clojure/tools.build
                       {:git/tag "v0.10.8" :git/sha "2fdfd66b"}}
          :ns-default build}
  :test  {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                        io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil  {:project {:name io.github.timothypratley/clojurecivitas}}}}
